<!DOCTYPE html>
<html>

<head>
<title>{% if page.title %}{{ page.title }} | {% endif %}桃之夭夭，灼灼其华</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="David Dong" />
<meta name="renderer" content="webkit">
<meta name="description" content="David Dong's Pages" />

<meta name=”viewport” content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.5, user-scalable=yes" />
<link rel="shortcut icon" type="image/ico" href="{{BASE_PATH}}/images/logo.ico">
<link rel="stylesheet" type="text/css" href="{{BASE_PATH}}/frres/style.css">
<link rel="stylesheet" type="text/css" href="{{BASE_PATH}}/css/book.css">

<script src="{{BASE_PATH}}/javascripts/jquery-1.7.1.min.js"></script>
</head>

<body>

<div class="container">
	{{ content }}
</div>

<div class="foot">
<span>You Can Write E-mail To Me Through ddv576029053@outlook.com</span><br>
<span>花也好,星星也好,世间所有美好的事物都是为了比喻你而存在！</span><br>
<span>我只希望我喜欢的人可以健康的活着</span>
</div>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>

</html>
