　<!DOCTYPE html>

　　<html>

　　<head>

　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <link rel="shortcut icon" type="image/ico" href="../images/favicon.ico">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	   	<meta name="author" content="David Dong" />
  		<meta name="renderer" content="webkit">
  		<meta name="description" content="David Dong's Pages" />
	
	    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="screen">
	 
	    <link rel="stylesheet" type="text/css" href="/css/mine.css" media="screen">
　　　　<title>{{ page.title }}|桃之夭夭，灼灼其华</title>
		 <style>{% include style.css %}</style>
　　</head>

　　<body>
	
		
		<a href="https://DongDavid.github.io"><img src="/images/logo.png" class="logo" ></a>
　　　　{{ content }}



 
　　</body>

　　</html>
