　<!DOCTYPE html>

　　<html>

　　<head>

　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <link rel="shortcut icon" type="image/ico" href="https://dongdavid.github.io/images/favicon.ico">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	   	<meta name="author" content="David Dong" />
  		<meta name="renderer" content="webkit">
  		<meta name="description" content="David Dong's Pages" />
	    <link rel="stylesheet" type="text/css" href="https://dongdavid.github.io//css/main.css" media="screen">
　　　　<title>{{ page.title }}|桃之夭夭，灼灼其华</title>
		
　　</head>

　　<body>
	
		
	
　　　　{{ content }}



 
　　</body>

　　</html>
