---
layout: default
---
<div class="home_banner">
  <div class="logo">
    <a href="/"><img src="/images/logo.png"><div class="logo_desc"> Page For Dong David</div></a>
  </div>
  <div class="signature">
      <p>---隐约雷鸣，阴霾天空，但盼风雨来，能留你在此.</p>
      <p>---隐约雷鸣 ,阴霾天空 ,即使天无雨 ,我亦留此地.</p>
  </div> 
</div>
  <!-- {{BASE_PATH}}/images//bg.jpg -->


{{ content }}
 


<script type="text/javascript">
  $(function() {
    function animateBar($item, noAni) {
      var spanLeft = $item.find('span').offset().left;
      var conLeft = $item.parent().offset().left;
      var left = spanLeft - conLeft;
      var width = $item.find('span').width() + 8;

      if (noAni) {
        $('#cateBar').css({
          left: left,
          width: width
        })
      } else {
        $('#cateBar').stop().animate({
          left: left,
          width: width
        }, 300)
      }
    }

    var waitForFinalEvent = (function() {
      var timers = {};
      return function(callback, ms, uniqueId) {
        if (!uniqueId) {
          uniqueId = "Don't call this twice without a uniqueId";
        }
        if (timers[uniqueId]) {
          clearTimeout(timers[uniqueId]);
        }
        timers[uniqueId] = setTimeout(callback, ms);
      };
    })();

    $('.artical-cate li').mouseenter(function() {
      animateBar($(this));
    }).mouseleave(function() {
      animateBar($('.artical-cate .on'));
    });

    $(window).resize(function(e) {
      waitForFinalEvent(function() {
        animateBar($('.artical-cate .on'));
      })
    })
    animateBar($('.artical-cate .on'), true);
  });
</script>
